body{

}

nav{
    color:black;
}

nav a{
    text-decoration: none;
    font-size: 15px;
}

nav a:hover{
    color: rgba(0, 0, 0, 0.452);
}

nav a.active{
    color: #000000;
    text-decoration: underline;
}

#logo{
    margin-left: 10px;
    margin-top: 10px;
}

h1{
    position: relative;
    width: 100%;
    text-align: center;
    margin: 2rem 0 2rem 0;
}

#title{
    margin-bottom: 25rem;
}

h4{
    padding-top: 4rem;
}

#what{
    display: inline-flex;
    top: 50px;
}

#what p{
    margin-left: 1rem;
}

#what img{
    margin-left: 2rem;
}

#how{
    display: inline;
}

#how img{
    margin-left: 6rem;
}

#how p span{
    margin-left: 14rem;
}

#end{
    margin-top: 4rem;
}