* {
    font-family: 'Special Elite', cursive;
}

nav a{
    text-decoration: none;
    font-size: 15px;
}

nav a:hover{
    color: rgba(0, 0, 0, 0.452);
}

nav a.active{
    color: #000000;
    text-decoration: underline;
}

#logo{
    margin-left: 10px;
    margin-top: 10px;
}

h1{
    position: relative;
    width: 100%;
    text-align: center;
    margin: 2rem 0 2rem 0;
}

#title{
    margin-bottom: 25rem;
}

h4{
    padding-top: 4rem;
    margin-left: 1rem;
    padding-bottom: 1rem;
}

#what{
    display: inline-flex;
    top: 50px;
}

#what p{
    margin-left: 1.5rem;
}

#what img{
    margin-left: 2rem;
}

#list {
    margin-left: 1.5rem;
}

#list span{
    margin-left: 8rem;
    margin-right: 9rem;
}

#danger {
    margin-left: 1.5rem;
}

#danger img{
    margin-left: 2rem;
}

#danger span{
    margin-left: 8rem;
    margin-right: 6rem;
}

#how div{
   text-align: center;
}

#how img{
    margin-left: 6rem;
}

#how p span{
    margin-left: 25rem;
}

#end{
    margin-top: 4rem;
}